<div class="containerBests">
  <p class="titleBests">Les Destinations favorites !</p>
  <button *ngFor="let best of bests" class="cityButton" (click)="ville = best.unique_name; onSearchChange(ville)">{{ best.unique_name }}</button>
</div>

<div class="contAll">

  <div class="containerSearchBar">
    <span class="titlecontainers">Entrez une ville :</span>
    <input class="input" id="input" [(ngModel)]="ville" (input)="onSearchChange($event.target.value)" required>
  </div>

  <div class="containerProposition" >
    <span class="titlecontainers">Choisissez une gare de départ :</span>
    <button class="cityButton" *ngFor="let proposition of propositions" (click)="ville = proposition.unique_name; onSearchChange(ville)">{{ proposition.unique_name }}</button>
  </div>

</div>