.background{
    content:"";
    height:100vh;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    background:url('../assets/plage.jpg');
    background-size:cover;
    background-position:center;
    filter:brightness(0.7);
    z-index:-1;
}

/* navbar */

.navbar{
    height:30px;
    width:100%;
    background-color:#43486C;
    margin-bottom:20px;
}

.logo{
    color:rgb(255, 255, 255);
    font-weight:bold;
    height:28px;
    line-height:30px;
    display:inline-block;
    margin-left:10%;
    font-family:'anton',sans-serif;
    letter-spacing: 1.7px;
    border-bottom:2px solid rgb(255, 255, 255);
}

/* fin navbar */


/* slogan */

.slogan{
    text-align:center;
    text-shadow: 0px 1px 4px rgba(48, 50, 58, 0.6);
    color:white;
}

.titleslogan{
    display:block;
    font-size:30px;
}

/* slogan */

.contAll{
    width:700px;
    margin-left:50%;
    transform: translate(-50%);
    position: relative;
    margin-top:15px;
}

/* div search bar */

.containerSearchBar{
    position:absolute;
    left:0;
    top:0;
    height:300px;
    width:310px;
    background-color:white;
    border-radius:5px;
    padding:15px;
}

.boutonReserver{
    background-color:#00B394;
    border:none;
    color:white;
    border-radius:5px;
    padding:5px;
    width:150px;
    font-size:13px;
    border-bottom:0.5px solid rgb(11, 95, 81);
    cursor:pointer;
    position:absolute;
    bottom:15px;
    right:15px;
    font-family: 'oswald',sans-serif;
}

.input{
    outline: none;
    border:0.5px solid red;
    display:block;
    margin-top:15px;
    padding:5px;
    border-radius:5px;
    width:calc(100% - 10px);
    font-family:'oswald',sans-serif;
}

.titlecontainers{
    font-weight:bold;
    padding-left:5px;
    display:block;
    padding-bottom:5px;
}

/* div search bar */

.containerProposition{
    position:absolute;
    right:0;
    top:0;
    height:300px;
    border-radius:5px;
    padding:15px;
    width:310px;
    background-color:white;
    z-index:100;
}

.containerBests{
    position:absolute;
    right:0;
    top:0;
    height:300px;
    border-radius:5px;
    padding:15px;
    width:310px;
    background-color:white;
}

.containerProposition::after{
    content:"";
    width:10px;
    height:10px;
    top:50%;
    background-color:white;
    left:0;
    transform: translate(-50%)rotate(45deg);
    position:absolute;
    z-index:-1;
}

.cityButton{
    color:grey;
    height:25px;
    width:100%;
    text-align:center;
    margin-top:-5px;
    margin-bottom:-2px;
    cursor:pointer;
    background-color:white;
    border:0.5px solid grey;
    font-family:'oswald',sans-serif;
    z-index:100;
}

.cityButton:hover{
    color:black;
}